@font-face {
  font-family: 'Rubik-Regular';
  font-display: swap;
  src: local('Rubik'), local('Rubik-Regular'), url(/fonts/Rubik-Regular.ttf) format('TrueType');
}

@font-face {
  font-family: 'Rubik-Medium';
  font-display: swap;
  src: local('Rubik-Medium'), url(/fonts/Rubik-Medium.ttf) format('TrueType');
}

@font-face {
  font-family: 'Rubik-SemiBold';
  font-display: swap;
  src: local('Rubik-SemiBold'), url(/fonts/Rubik-SemiBold.ttf) format('TrueType');
}

@font-face {
  font-family: 'Rubik-Bold';
  font-display: swap;
  src: local('Rubik-Bold'), url(/fonts/Rubik-Bold.ttf) format('TrueType');
}